<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
  	 	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	
    	<title>TELCO | HOME PAGE</title>
    	
    	<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		
		<!-- Personal CSS -->
    	<link rel=stylesheet href="../static/styles/general.css" type="text/css">	
    	
    	<!-- Personal Font -->
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Optima:bold,serif">	
    	
	</head>
	<body>
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark telconav">
		    <div class="container">
		        <a class="navbar-brand" href="#">
		        	<img src="../static/images/logo.jpg" alt="telco" class="logo">
		        </a>      
				<div class="collapse navbar-collapse" id="navbarNav">
			      <ul class="navbar-nav navsize me-auto" style="margin-left:-150px;">
			        <li class="nav-item">
			          <a class="nav-link telcotext active" aria-current="page" href="#">Home</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link telcotext" href="/TelcoServiceWeb/employee/salesReport">Sales Report</a>
			        </li>
			      </ul>
			      <ul class="navbar-nav navsize ms-auto">
			        <li th:if="${session.employee} != null" class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            <span th:text="${session.employee.username}"></span>
				          </a>
				          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				            <li><a class="dropdown-item" href="/TelcoServiceWeb/logout?type=e">Logout</a></li>
				          </ul>
				    </li>
			        <li th:unless="${session.employee} != null" class="nav-item telcotext">
			          <a class="nav-link" href="/TelcoServiceWeb/employee/index">Login</a>
			        </li>
			      </ul>
			    </div>
		    </div>
		</nav>
		
		<script th:if="${packageSuccess} != null">
			alert("The new package has been created succesfully");
		</script>
		<script th:if="${productSuccess} != null">
			alert("The new product has been created succesfully");
		</script>
		
		<div align="left">
			<h3 class="telcotitle" style="padding:10px;">Create a new service package</h3>
			<form method="POST" action="/TelcoServiceWeb/employee/createServicePackage">
				<span class="telcotitle telcomedium" style="margin-left:30px;">Give a name to the package:</span>
				<input type="text" name="name" class="telcoinputtext" required>
				
				<div class="row w-100" style="margin-top:30px;">
					<div class="col col-3">
						<div class="card telcocard">
						  <div class="card-body">
						    <h5 class="telcotitle telcomedium">Add mobile phone service</h5>
						    <h3 class="telcotext telcomedium">Number of minutes:</h3><input type="number" name="numMinutes" class="telcoinputtext">
							<h3 class="telcotext telcomedium">Number of SMS:</h3><input type="number" name="numSMS" class="telcoinputtext">
							<h3 class="telcotext telcomedium">Fee extra minutes:</h3><input type="number" name="feeMinutes" class="telcoinputtext">
							<h3 class="telcotext telcomedium">Fee extra SMS:</h3><input type="number" name="feeSMS" class="telcoinputtext">
							<input class="form-check-input" type="checkbox" th:name="mpcheck" th:id="mpcheck">
							<label class="form-check-label telcotext telcosmall" for="add mp service">Add service</label>
						  </div>
						</div>
					</div>
					<div class="col col-3">
						<div class="card telcocard">
						  <div class="card-body">
						    <h5 class="telcotitle telcomedium">Add fixed phone service</h5>
							<input class="form-check-input" type="checkbox" th:name="fpcheck" th:id="fpcheck">
							<label class="form-check-label telcotext telcosmall" for="add mp service">Add service</label>
						  </div>
						</div>
					</div>
					<div class="col col-3">
						<div class="card telcocard">
						  <div class="card-body">
						    <h5 class="telcotitle telcomedium">Add mobile internet service</h5>
						    <h3 class="telcotext telcomedium">Number of GB:</h3><input type="number" name="numGB" class="telcoinputtext">
							<h3 class="telcotext telcomedium">Fee extra GB:</h3><input type="number" name="feeGB" class="telcoinputtext">
							<input class="form-check-input" type="checkbox" th:name="micheck" th:id="micheck">
							<label class="form-check-label telcotext telcosmall" for="add mp service">Add service</label>
						  </div>
						</div>
					</div>
					<div class="col col-3">
						<div class="card telcocard">
						  <div class="card-body">
						    <h5 class="telcotitle telcomedium">Add fixed internet service</h5>
						    <h3 class="telcotext telcomedium">Number of GB:</h3><input type="number" name="numGBfi" class="telcoinputtext">
							<h3 class="telcotext telcomedium">Fee extra GB:</h3><input type="number" name="feeGBfi" class="telcoinputtext">
							<input class="form-check-input" type="checkbox" th:name="ficheck" th:id="ficheck">
							<label class="form-check-label telcotext telcosmall" for="add mp service">Add service</label>
						  </div>
						</div>
					</div>
				</div>

				<br><br>
				<div class="row w-100">
					<div class="col col-3">
						<h3 class="telcotitle telcomedium" style="margin-left:30px;">Add validity periods:</h3>
						<ul style="margin-left:30px;">
							<li class="telcotext telcomedium">Fee for 12 months:</li><input type="number" name="vp12" required class="telcoinputtext">
							<li class="telcotext telcomedium">Fee for 24 months:</li><input type="number" name="vp24" required class="telcoinputtext">
							<li class="telcotext telcomedium">Fee for 36 months:</li><input type="number" name="vp36" required class="telcoinputtext">
						</ul>
					</div>
					<div class="col col-3">
						<h3 class="telcotitle telcomedium">Select purchaseable optional products:</h3>
						<div class="form-check">
				  			<div th:each="pr : ${products}">
				  				<input class="form-check-input" type="checkbox" th:name="${pr.name}" th:id="${pr.name}">
				  				<label class="form-check-label telcotext telcomedium" th:for="${pr.name}" th:text="${pr.name}"></label>
				  			</div>
				  		</div>
				  </div> 
				</div>
				<h3 th:unless="${errorMsg} == null" th:text="${errorMsg}" class="telcoerrortext telcomedium" style="margin-left:30px;"></h3>
				<input type="submit" class="btn btn-warning telcobtn" style="margin-left:30px;" value="Create Service Package">
			</form>
			
			<br><br><br><br><br>
			
			<h3 class="telcotitle" style="padding:10px;">Create a new optional product</h3>
			<form method="POST" action="/TelcoServiceWeb/employee/createProduct" style="margin-left:30px;">
				<h3 class="telcotext telcomedium">Product name</h3>
				<input type="text" name="name" class="telcoinputtext" required>
				<h3 class="telcotext telcomedium" style="padding-top:20px;">Fee</h3>
				<input type="number" name="fee" class="telcoinputtext" required><br>
				<h3 th:unless="${productErr} == null" th:text="${productErr}" class="telcoerrortext telcomedium" style="margin-left:10px;"></h3>
				<input type="submit" class="btn btn-warning telcobtn" value="Create Product">
			</form>
		</div>		
		<br><br><br><br><br>
	</body>
</html>